<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time LED Control</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <h1>LED Control</h1>
    <input type="color" id="color" name="head" value="#e66465" />
    <label for="time">Time ms Delay</label>
    <input type="number" id="time" value="10" min="0" max="1000" />
    <label for="index">LED Index</label>
    <input type="number" id="index" value="0" min="0" max="300" />
    <button id="sendButton">Send</button>

    <hr />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript">
        var Color = hexToRgb("#e66465");
        Color.T = 10;

        var uri = "ws://" + window.location.host + "/notifications";
        function connect() {
            socket = new WebSocket(uri);
            socket.onopen = function (event) {
                console.log("opened connection to " + uri);
            };
            socket.onclose = function (event) {
                console.log("closed connection from " + uri);
            };
            socket.onmessage = function (event) {
                console.log(event.data);
            };
            socket.onerror = function (event) {
                console.log("error: " + event.data);
            };
        }
        connect();


        var button = document.getElementById("sendButton");
        button.addEventListener("click", function () {

            var input = hexToRgb(document.getElementById("color").value);

            Color.r = input.r;
            Color.g = input.g;
            Color.b = input.b;

            console.log("New color", input);
            sendColor(input);

        });

        function sendColor() {
            console.log("Sending: " + Color);

            Color.t = $("#time").val();
            Color.i = $("#index").val();

            $.ajax({
                url: "http://" + window.location.host + "/api/led/send",
                method: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(Color)
            });
        }

        function hexToRgb(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }

    </script>
</body>

</html>